.detail__container {
  background-color: #222323;
  height: 100vh;
}

.backdrop__container {
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .backdrop__container {
    height: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .backdrop__container {
    height: 400px;
  }
}

.backdrop__container span {
  color: white;
  position: relative;
  top: 85%;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  .backdrop__container span {
    top: 90%;
  }
}

.info__container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.movie__popularity {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.movie__data {
  color: white;
}
